.splitter{
    overflow: hidden;
}
.or{
    position: relative !important;
    padding-bottom: 16px !important;
    padding-top: 16px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    padding-bottom: var(--spacing-rule-text-vertical, 16px) !important;
    padding-top: var(--spacing-rule-text-vertical, 16px) !important;
    padding-left: var(--spacing-rule-text-horizontal, 16px) !important;
    padding-right: var(--spacing-rule-text-horizontal, 16px) !important;
}
.or-text{
    overflow-wrap: break-word !important;
    margin: 0px !important;
    &::before{
        border-bottom-width: var(--border-rule-border-width, 1px) !important;
        border-bottom-color: #e4e4e4 !important;
        content: "" !important;
        position: absolute !important;
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
        border-bottom-color: rgb(228, 228, 228) !important;
        top: 50% !important;
        right: 100% !important;
        width: 5000px !important;
    }
    &::after{
        border-bottom-width: var(--border-rule-border-width, 1px) !important;
        border-bottom-color: #e4e4e4 !important;
        content: "" !important;
        position: absolute !important;
        border-bottom-width: 1px !important;
        border-bottom-style: solid !important;
        border-bottom-color: rgb(228, 228, 228) !important;
        top: 50% !important;
        left: 100% !important;
        width: 5000px !important;
    }
}

.oAuth{
    .btn-facebook{
        margin-bottom: 1rem;
        cursor: pointer !important;
        transition-property: background, border-color, color !important;
        transition-duration: 0.2s !important;
        transition-timing-function: ease-out !important;
        position: relative !important;
        display: inline-block !important;
        text-align: center !important;
        width: 100% !important;
        font-size: 16px !important;
        line-height: 24px !important;
        letter-spacing: normal !important;
        font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
        font-weight: 800 !important;
        padding-left: 22px !important;
        padding-right: 22px !important;
        color: rgb(255, 255, 255) !important;
        text-decoration: none !important;
        border-radius: 4px !important;
        border-width: 2px !important;
        border-style: solid !important;
        background: rgb(69, 104, 178) !important;
        border-color: transparent !important;

        svg{
            margin-right: 20px;
        }
    }
}
